<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>403 Verboden Toegang - Operation Center Systeem</title>
    <link rel="stylesheet" href="../css/splash.css">
    <link rel="stylesheet" href="../css/error-pages.css">
  </head>
  <body>
    <div class="choose-container">
      <h1>Verboden Toegang</h1>
      <br>
      <p>
        Je hebt geen toegang to deze pagina!
        Klik <a href="/">hier</a> om terug te keren naar het OC systeem.
      </p>
    </div>
  </body>
</html>
