<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>404 Niet Gevonden - Operation Center Systeem</title>
    <link rel="stylesheet" href="../css/splash.css">
    <link rel="stylesheet" href="../css/error-pages.css">
  </head>
  <body>
    <div class="choose-container">
      <h1>Niet Gevonden</h1>
      <br>
      <p>
		De pagina die je probeerde op te vragen is niet gevonden.<br>
		Klik <a href="/">hier</a> om terug te keren naar het OC systeem.
      </p>
    </div>
  </body>
</html>
