<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>500 Interne serverfout - Operation Center Systeem</title>
    <link rel="stylesheet" href="../css/splash.css">
    <link rel="stylesheet" href="../css/error-pages.css">
  </head>
  <body>
    <div class="choose-container">
      <h1>Interne serverfout</h1>
      <br>
      <p>
		De server gaf een fout terwijl de aanvraag werd verwerkt.<br>
		Probeer het later nog eens of neem contact op met de support.<br>
		Klik <a href="/">hier</a> om terug te keren naar het OC systeem.
      </p>
    </div>
  </body>
</html>
