<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>503 Dienst niet beschikbaar - Operation Center Systeem</title>
    <link rel="stylesheet" href="../css/splash.css">
    <link rel="stylesheet" href="../css/error-pages.css">
  </head>
  <body>
    <div class="choose-container">
      <h1>Dienst niet beschikbaar</h1>
      <br>
      <p>
        De OC server is tijdelijk niet beschikbaar.<br>
        Het kan zijn dat de server in onderhoud modus staat of een zelf test aan het uitvoeren is.<br>
        Dit is maar tijdelijk en de server zal binnenkort weer beschikbaar zijn.
      </p>
    </div>
  </body>
</html>
