.menu-list {
  background: #f2021b;
  width: 20px;
  min-height: 65%;
  list-style-type: none;
  border-radius: 100px;
}

.menu-list li{
  width: 45px;
  height: 45px;
  background: #f2021b;
  margin-left: -12px;
  margin-top: 25px;
  border-radius: 55px;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  color: #041131;
}

.menu-list li:hover{
  background: #9c0716;
}

.main-content-topbar {
  height: 50px;
  width: 100%;
  background-image: url("../img/firefighter/brandweer_mbar.png");
}

a.department-specific {
  color: #f2021b !important;
}

a.credits:hover {
  color: #f2021b;
  font-weight: bolder;
  text-decoration: none;
}

a.department-specific-dark {
  /* color: #44598b !important; */
}

a.department-specific:hover,
a.department-specific-dark:hover {
  font-weight: bolder !important;
}