<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kies je eenheid - Operation Center Systeem</title>
    <link rel="stylesheet" href="../css/splash.css">
    <link rel="stylesheet" href="../css/Roboto.css">
    <link rel="stylesheet" href="../css/toastr.css">
    <link rel="stylesheet" href="../css/master.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/toastr.js"></script>
    <script src="../js/sweetalert2@9.js" charset="utf-8"></script>
     <script src="https://kit.fontawesome.com/03830b2e82.js" crossorigin="anonymous"></script>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

  </head>
  <body>
    <script type="text/javascript"></script>

    <div class="main-container">
      <section class="login-section">
        <div class="top-bar-container">
          <div class="logo"><img src="../img/logo.png" alt=""></div>
          <div class="main-menu">
            <select class="select-language" name="">
              <option>NL</option>
              <option>EN</option>
            </select>
            <button class="see-more-about">Lees meer over Malamail <i class="fas fa-arrow-right"></i></button>
          </div>
        </div>
        <div class="info-container">
          <div class="inner-info-container">
            <span class="info-title">Welkom bij het nieuwe Malamail!</span>
            <p class="info-caption">Na lang wachten is er dan een nieuwe vertrouwde email platform. Malamail bied eindeloze futures die het gebruik bevorderd. Maak een account en ondek alle toffe mogelijkheden.</p>

          </div>
          <div class="login-container">
            <span>Log in of maak een account</span>
            <form action="" class="login-form">
              <input type="text" name="" value="" placeholder="E-mail">
              <input id="password-field" type="password" name="" value="" placeholder="Wachtwoord">
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
              <span class="forgot-password">Forgot your password?</span>
              <button class="sign-in-button" type="button" name="">Login</button>
            </form>
          </div>
        </div>
      </section>

      <section class="info-section"></section>


    </div>

    <script type="text/javascript">


    $(".toggle-password").click(function() {

  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $($(this).attr("toggle"));
  if (input.attr("type") == "password") {
    input.attr("type", "text");
  } else {
    input.attr("type", "password");
  }
});
    if (document.cookie.indexOf('_idp_session') != -1)
    $().ready(function() {
      setInterval(function () {
        $("#splash").fadeOut(1000);
      }, 2000);
    });
    else {
      $().ready(function() {
        setInterval(function () {
          $("#splash").fadeOut(1000);
        }, 2000);
      });
          // Swal.fire({
          //   title: '<p class="popup-title popup-title-01 popup-title-small">Je bent niet ingelogd</p>',
          //   // TODO: Make a switch statement because different departments have different ranks!
          //   html: `<button class="signin_discord" onclick=""><span>Login met Discord</span></button>`,
          //   showCancelButton: false,
          //   showConfirmButton: false,
          //   allowOutsideClick: false,
          //   preConfirm: () => {
          //       return {
          //           "steam_id": $(".popup-form input#steam_id").val()
          //       }
          //   }
          // })


}
    </script>

  </body>
</html>
