<p>Start pressing keys!</p>
<ul id="print"></ul>
<script src="../js/jquery.min.js"></script>
<script type="text/javascript">
	var keys = 0
	var maxKeys = 20
	$("body").ready(function(event) {
		$(document).on("keydown", "*", function(event) {
			if (keys == maxKeys) {
				$("ul#print").find("li:first").remove()
				keys--
			}
			console.log("Pressed: " + event.key)
			$("ul#print").append(`<li>Pressed: ${event.key}</li>`)
			keys++
		})
	})
</script>